<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${titulo}"></title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>

<body>

<!-- Header -->
<header th:insert="~{/snippets/header :: header}"></header>

<!-- Container -->
<div class="container">

    <div class="d-flex justify-content-between align-items-center m-1">
        <h1 class="mt-4 mb-3" th:text="${tituloHabitaciones}"></h1>
        <a class="btn btn-primary" th:href="@{/habitaciones/new}">Nueva Habitación</a>
    </div>
    <div class="row text-center">
        <div class="row row-cols-1 row-cols-md-4 g-4 py-4">
            <div class="col" th:each="habitacion : ${habitaciones}">
                <div class="card">
                    <img th:src="@{https://acortar.link/WZu8e7}" class="card-img-top" alt="Habitación">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'N°: ' + ${habitacion.numero}"></h5>
                        <p class="card-text" th:text="'TIPO: ' + ${habitacion.tipo}"></p>
                        <p class="card-text"
                           th:text="'PRECIO: S/. ' + ${#numbers.formatDecimal(habitacion.precio, 1, 'COMMA', 2, 'POINT')}"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-success m-2" th:attr="data-hab-id=${habitacion.id}"
                                onclick="agregarAlCarrito(this)">Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:insert="~{/snippets/footer :: footer}"></footer>

<!-- Scripts -->
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script type="text/javascript">
    function agregarAlCarrito(button) {
        var habId = button.getAttribute("data-hab-id");
        $.post('/reservas/agregarAlCarrito/' + habId, function (data) {
            mostrarSweetAlert(data);
        });
    }

    function mostrarSweetAlert(message) {
        Swal.fire({
            icon: 'info',
            title: message,
            //text: message,
            showConfirmButton: true
        });
    }
</script>

</body>
</html>
