<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${titulo}"></title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>

<body>

<header th:insert="~{/snippets/header :: header}"></header>

<!-- Container -->
<div class="container">

    <div class="d-flex justify-content-between align-items-center m-1">
        <h1 class="mt-4 mb-3" th:text="${tituloHabitacion}"></h1>
    </div>

    <div class="row justify-content-center">
        <div>
            <div class="card border-0 mt-4">
                <div class="card-body">
                    <form class="form-horizontal mt-4" id="form-habitacion" th:action="@{/habitaciones/save}"
                          th:object="${habitacion}" method="post"
                          enctype="multipart/form-data">

                        <div class="row mb-3">
                            <label for="numero" class="col-sm-2 col-form-label">N° : </label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="numero" placeholder="N° de la habitación"
                                       th:field="*{numero}">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('numero')}"
                                     th:errors="*{numero}"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="tipo" class="col-sm-2 col-form-label">Tipo : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tipo" placeholder="Tipo de la habitación"
                                       th:field="*{tipo}">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('tipo')}"
                                     th:errors="*{tipo}"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="precio" class="col-sm-2 col-form-label">Precio : </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="precio" placeholder="Autor del libro"
                                       th:field="*{precio}">
                                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('precio')}"
                                     th:errors="*{precio}"></div>
                            </div>
                        </div>

                        <input id="id" name="id" type="text" hidden="hidden" th:field="*{id}">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:insert="~{/snippets/footer :: footer}"></footer>

<!-- Scripts -->
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>